{% extends 'main.html' %}

{% block content %}

{% if friends %}
<p>Following are your friends</p>
{% endif %}
{% for friend in friends %}
<a href="{% url 'viewProfile' friend.username %}">{{friend}}</a><br>
{% endfor%}


{% if user_fr %}
    <h2>These are your friend requests</h2>
    {% for friend_request in user_fr %}
        {{friend_request.from_user}} <br>
        <a href="{% url 'accept-request' friend_request.id %}">Accept</a>
        <span>   
            <a href="{% url 'reject-request' friend_request.id %}">Reject</a></span>
        <br>
    {% endfor %}
{% else%}
<br>
<p>No friend requests Exist</p>
{% endif %}
{% endblock content %}
