{% extends 'main_wo_nav.html'%}

{% block content%}

<div style="width: 100%;background-color: white; padding: 15px 10px;" class="sticky-top">
    <a>home</a>
    <a>cart</a>
    <a>About us</a>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
        <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
                <p> Friends</p>
                <p> Marketplace</p>
                <p> Groups</p>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

{% endblock content%}
